{% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('assets/styles/footer.css') }}">
{% endblock %}

{% block footer %}
<footer>
  <div class="footer-text left-text">
    <p>Fais par amour</p>
  </div>
  <div class="footer-logo">
    <img src="{{ asset('assets/logo/pet-hotel-sign-with-a-dog-and-a-cat-under-a-roof-line.png') }}" alt="Logo WildZ" />
  </div>
  <div class="footer-text right-text">
    <p>par Adriano</p>
  </div>
</footer>
{% endblock %}
