{% block body %}


	<nav class="navHome">
		<div class="left">
			<a href="">WildZ</a>
		</div>
		<div class="right">
			<a href="#">Notre Mission</a>
			<a href="#">Equipe</a>
			<a href="#">Services</a>
			<a href="#">Contribuer</a>
			<a href="#">Blog</a>
			<div class="donate">
				<a href="#">Faire un don maintenant</a>
			</div>
		</div>
		<!-- Ajout du menu burger -->
		<div class="burger">
			<span></span>
			<span></span>
		</div>
	</nav>


{% endblock %}
