{% extends 'base.html.twig' %}

{% block title %}Edit DogRace{% endblock %}

{% block body %}
    <h1>Edit DogRace</h1>

    {{ include('pages/dog_race/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_dog_race_index') }}">back to list</a>

    {{ include('pages/dog_race/_delete_form.html.twig') }}
{% endblock %}
