{% extends 'base.html.twig' %}

{% block title %}New DogRace{% endblock %}

{% block body %}
    <h1>Create new DogRace</h1>

    {{ include('pages/dog_race/_form.html.twig') }}

    <a href="{{ path('app_dog_race_index') }}">back to list</a>
{% endblock %}
