{% extends 'base.html.twig' %}

{% block title %}Création race de chien{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Créer une nouvelle race de chien</h1>

    {{ include('pages/dog_race/_form.html.twig') }}

{% endblock %}
