{% extends 'base.html.twig' %}

{% block title %}Tableau de bord - Administration{% endblock %}

{% block body %}
	<div class="row">
		<div class="col-sm-12 col-md-6">
			{% for message in app.flashes('success') %}
				<div class="alert alert-success">{{ message }}</div>
			{% endfor %}
		</div>
		<div class="col-12">
			<h1 class="text-center mt-4">
				Tableau de bord - Administration
			</h1>
			<h4 class="text-center mt-1 mb-5">Bienvenue sur le panel d'administration</h4>
			<div class="row">
				<div class="col-md-4">
					<div class="card text-white bg-primary mb-3">
						<div class="card-header">Nombre total de races de chiens</div>
						<div class="card-body">
							{# <h5 class="card-title">{{ dog_races.getTotalItemCount }}</h5> #}
						</div>
					</div>
				</div>
				<!-- Ajoutez d'autres cartes pour d'autres statistiques si nécessaire -->
			</div>
		</div>

		<div class="row mt-3">
			<div class="col-12 text-center mt-3">
				<a href="{{ path('app_dog_race_new') }}" class="btn btn-success">Ajouter une race de chien</a>
			</div>
		</div>
	</div>
{% endblock %}
