{% extends 'base.html.twig' %}

{% block title %}New Dogs{% endblock %}

{% block body %}
    <h1>Create new Dogs</h1>

    {{ include('pages/dogs/_form.html.twig') }}

    <a href="{{ path('app_dogs_index') }}">back to list</a>
{% endblock %}
