{% extends 'base.html.twig' %}

{% block title %}Nouveau chien
{% endblock %}

{% block body %}
	<h1 class="text-center mt-5">Ajouter un nouveau chien</h1>


	{{ include('pages/dogs/_form.html.twig') }}

{% endblock %}
