{% extends 'base2.html.twig' %}

{% block stylesheets %}

<style>
    body {
        background-color: white;
    }

    .big{
        width: 100%;
        height: 500px;
        background-color: red;
        margin-top: 3%;
    }
</style>

{% endblock %}

{% block body %}
<div class="big"></div>
{% endblock %}
