<form method="post" action="{{ path('app_cat_race_delete', {'id': cat_race.id}) }}" onsubmit="return confirm('Êtes vous sur de voulour supprimer cette race ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat_race.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
