{% extends 'base.html.twig' %}

{% block title %}Création race de chat{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Créer une nouvelle race de chat</h1>

    {{ include('pages/cat_race/_form.html.twig') }}

{% endblock %}
