<form method="post" action="{{ path('app_cats_delete', {'id': cat.id}) }}" onsubmit="return confirm('Êtes vous sur de vouloir supprimer ce chat?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ cat.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
