{% extends 'base.html.twig' %}

{% block title %}Nouveau chat{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">Ajouter un nouveau chat</h1>

    {{ include('pages/cats/_form.html.twig') }}

{% endblock %}
